.textWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 0.3rem;
    position: fixed;
    top: 3rem;
    left: 50%;
    border: 1px solid green;
    border-radius: 0.5rem;
    background-color: darkseagreen;
    font-size: 1rem;
    padding: 0.5rem;
    transition: all 0.2s ease;
    z-index: 1000;
}

.textWrapper:hover {
    transform: scale(1.02);
    transition: all 0.2s ease;
}

.text {
    color: black;
    width: max-content;
    align-self: center;
}

.closeButton {
    background: none;
    border: none;
    display: flex;
    place-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.closeButton:hover {
    transform: scale(1.08);
    transition: all 0.2s ease;
}