.textWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 0.5rem;
    position: absolute;
    top: 5rem;
    border: 1px solid green;
    border-radius: 0.5rem;
    background-color: darkseagreen;
    padding: 0.5rem;
}

.text {
    color: black;
    width: max-content;
    align-self: center;
}

.closeButton {
    background: none;
    border: none;
    display: flex;
    place-items: center;
    cursor: pointer;
}