@font-face {
    font-family: "Delius";
    src: url("../../public/fonts/Delius.ttf");
}

.navContainer {
    background-color: rgba(0, 0, 0, 0.818);
    padding: 0.3rem 2.5rem 0rem 2.5rem;
    width: 100%;
}

.noUser,
.validUser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.routeHome {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
    cursor: pointer;
}

.routeHome>span {
    font-family: "Delius", cursive;
    color: #F7F6F7;
    font-weight: 500;
    font-size: 1.3rem;
}

.navbarMiddle {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.navbarRight {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.navbarRight>button {
    font-size: 1rem;
}

.userImgDiv {
    position: relative;
    display: flex;
    place-items: center;
    cursor: pointer;
}

.userImgDiv::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 0 solid rgba(250, 235, 215, 0.291);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.userImgDiv:hover::after {
    opacity: 1;
    transition: all 0.2s ease;
    border-width: 3px;
}

.userImg {
    padding: 0.2rem;
    align-self: center;
    justify-self: center;
    height: 40px;
    overflow: hidden;
    width: auto;
    max-width: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.473);
}

@media (max-width: 830px) {
    .navbarMiddle>button:nth-child(5) {
        display: none;
    }
}

@media (max-width: 720px) {
    .routeHome {
        display: none;
    }
}

@media (max-width: 600px) {
    .navbarMiddle>button>span {
        display: none;
    }
}

@media (max-width: 480px) {
    .userImg {
        display: none;
    }

    .logoutBtn>button {
        white-space: nowrap;
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .logoutBtn>button {
        white-space: wrap;
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .navbarMiddle>button:nth-child(2) {
        display: none;
    }
}