@font-face {
  font-family: "Nokora";
  src: url("../../public/fonts/Nokora.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nokora", sans-serif;
}

body {
  /* background: #2C2C2C; */
}

a {
  text-decoration: none;
  color: inherit;
  user-select: none;
}

a:focus {
  outline: none;
}