.button {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.3rem;
    padding: 0.6rem 0.7rem;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.801);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in;
    user-select: none;
}

.button:hover {
    color: black;
    background-color: #C8ABE6;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in;
    scale: 1.03;
}