.postContainer {
    width: 85%;
    justify-self: center;
    padding: 0.5rem;
    background-color: rgba(240, 248, 255, 0.452);
    border-top: 1.2px solid rgba(0, 0, 0, 0.466);
    border-left: 1.2px solid rgba(0, 0, 0, 0.466);
    border-right: 1.2px solid rgba(0, 0, 0, 0.466);
    border-radius: 10px 10px 0 0;
}

.isEdited {
    font-size: 0.7rem;
    padding-bottom: 0.3rem;
}

.postHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.userInfo>span:nth-child(2) {
    color: grey;
    font-size: small;
}

.postContent {
    background-color: rgba(255, 228, 196, 0.5);
    border-radius: 10px;
    padding-bottom: 0.2rem;
}

.postImgContainer {
    margin-top: 8px;
    height: fit-content;
    overflow: hidden;
}

.postImg {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.postBodyContainer {
    margin-top: 10px;
    padding: 3px 10px;
}

.postFooter {
    font-size: 0.8em;
    padding-top: 0.3rem;
}

.postActions {
    margin: 0;
    width: 85%;
    padding: 0.3rem;
    justify-self: center;
    color: aliceblue;
    background-color: rgba(128, 128, 128, 0.527);
    border: 1.2px solid rgba(0, 0, 0, 0.466);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: all 0.2s ease;
}

.postActions:hover {
    background-color: rgba(128, 128, 128, 0.658);
    transition: all 0.2s ease;
}

.postActions>div>button {
    padding-block: 0.3rem;
    padding-inline: 1rem;
}

.commentContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.commentsWrapper {
    margin: auto;
    width: 50vw;
    height: 85vh;
    background: oldlace;
    position: relative;
    border-radius: 15px;
    padding: 0.5rem;
    color: black;
}

.closeCommentBoxBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
}

@media (max-width: 950px) {
    .commentsWrapper {
        width: 65vw;
    }
}

@media (max-width: 600px) {
    .postContainer {
        width: 100%;
    }

    .postActions {
        width: 100%;
    }

    .commentsWrapper {
        width: 75vw;
    }
}

@media (max-width: 350px) {
    .postActions>div>button>span {
        display: none;
    }
}