.textarea {
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(250, 235, 215);
    resize: none;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.466);
    border-radius: 0.8rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease;
    outline: none;
}

.textarea::placeholder {
    font-size: 1.1rem;
    text-align: center;
}

.textarea:focus {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s ease;
}

@media (max-width: 1024px) {
    .textarea::placeholder {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .textarea::placeholder {
        font-size: 0.8rem;
    }
}